.ProductBox-img {
	width: 100%;
	height: auto;
}
.ProductBox-header-container {
	display: flex;
	align-items: center;
}
.fancy-line {
	border-bottom: 1px solid #e0dede;
	flex-grow: 1;
}

#ProductBox-container ul {
    margin-left: 20px;
}

#ProductBox-img-2 {
	min-width: 150px;
	height: auto;
	margin: auto;
	display: block;
	object-fit: contain;
    max-width: 300px;
    margin-top: 60px;
}

@media only screen and (min-width: 800px) {
	#ProductBox-container {
		display: flex;
	}
	.ProductBox-first-element {
		max-width: 50%;
	}
	#ProductBox-container > * {
		margin: 20px;
	}

	#ProductBox-container ul {
        font-size: 15px;
        margin-left: 0;
	}
}
