#opportunities-container {
    margin-bottom: 150px;
}

#opportunities-container img {
    width: 300px;
    height: auto;
    display: block;
    margin: 0 auto;
}
#opportunities-container img:nth-child(2) {
    float: left;
    margin: 20px;
}

.opp-text > h2 {
    text-align: center;
}