#testimonials-container h1 {
    color: #af3434;
}


@media only screen and (min-width: 800px) {
    #testimonials-container {
        display: flex;
        justify-content: space-between;
    }
    /* #testimonials-container > div {
        margin-right: 30px;
    } */
    .testimonials-col-2 {
        max-width: 30%;
        margin-left: 40px;
    }
    .testimonials-col-2 input,
    .testimonials-col-2 textarea {
        max-width: 200px;
    }
}

@media only screen and (min-width: 1200px) {
    .testimonials-col-2 input,
    .testimonials-col-2 textarea {
        max-width: 300px;
    }
}