.coolbtn {
    background-color: #000;
    color: #fff;
    padding: 20px 30px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 15px;
    user-select: none;
    opacity: 1;
    transition: opacity 300ms ease;
    border-radius: 20px;
    margin: 5px;
    touch-action: manipulation;
  }
  
  .touched {
    opacity: 0.2;
    transform: translateY(-7px);
    transition: all 0.5s;
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  }