.card {
	/* height: 702px; */
	width: 346px;
	padding: 28px;
	margin: 50px 10px;
	background-color: white;
	/* margin: 75px; */
	/* display: flex; */
	/* flex-direction: column; */
	/* justify-content: space-around; */
}

.card > h4 {
    color: #af3434;
    text-align: center;
	margin: 10px;
	/* font-size: 16px; */
	font-family: Arial, Helvetica, sans-serif;
	line-height: 24px;
	font-weight: 700;
}

.card-img {
	height: 300px;
	display: block;
	margin: auto;
	/* object-fit: cover; */
	/* width: 1000px; */
}

.btn-outline {
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	background-color: black;
	border-radius: 15px;
	user-select: none;
}

.btn-outline:hover, .btn-outline:active {
	opacity: 0.2;
}
