.card {
	/* height: 702px; */
	width: 337px;
	padding: 28px;
	background-color: white;
	margin: 75px;
	/* display: flex; */
	/* flex-direction: column; */
	/* justify-content: space-around; */
}

.card > h4 {
    color: #af3434;
    text-align: center;
    margin: 10px;
}

.card-img {
	height: 350px;
	display: block;
	margin: auto;
	/* object-fit: cover; */
	/* width: 1000px; */
}
