.ImageChanger {
	background-color: black;
    overflow-x: hidden;
	transition: padding-top 0.25s linear;
	padding-top: 200px;

}

.padded {
	padding-top: 200px;
}

.slider-container {
	background-color: pink;
	height: 425px;
	position: relative;
}

.banner {
	height: 100px;
	color: white;
	text-align: center;
	font-weight: bold;
	letter-spacing: 2px;
}
.banner span {
	line-height: 100px;
	font-size: xx-large;
}


.img-wrapper {
    position: absolute;
    left: 50%;
    /* border: dotted red 1px */
}
.img {
	height: 425px;
    margin: auto;
    position: relative;
    display: block;
    top: -50%;
    left: -50%;
	/* object-fit: scale-down; */
	/* width: 1000px; */
}
