
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: all 0.25s linear;
	touch-action: manipulation;
}


.hamburger {
	cursor: pointer;
	padding: 5px 10px;
	align-self: center;
	text-align: center;
	align-content: center;
	align-items: center;
	justify-content: center;
	/* margin: 0 auto; */
}

.hamburger > div {
	width: 25px;
	height: 3px;
	background-color: white;
	margin: 6px 0;
}

@media only screen and (min-width: 901px) {
	.hamburger {
		display: none;
	}
}

header {
	top: 0;
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	padding: 10px 60px;
	position: fixed;
	color: #fff;
	justify-content: space-between;
	flex-direction: row;
	background-color: #000;
	z-index: 1000;
}


@media only screen and (max-width: 900px) {
	header {
		justify-content: flex-end;
		flex-direction: row-reverse;
	}
	.header nav {
		position: fixed;
		right: -145px;
		top: 0;
		bottom: 0;
		background-color: black;
		width: 250px;
		height: 100vh;
		flex-direction: column;
		box-sizing: content-box;
		width: min-content;
	}
	.expanded {
		transform: translateX(-160px);
		/* margin-left: 160px; */
	}
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
	padding: 10px 0px;
	font-size: 16px;
	/* animation: 0.25s shrinkPadding 0s forwards; */
}

img {
	height: 50px;
}

.sticky img {
	height: 50px;
	transition: height 0.25s linear;
}
/* @media only screen and (min-width: 900px) {
	img {
		height: 70px;
	}
} */

@media only screen and (max-width: 700px) {
	/* header img {
		width: 80%;
	} */

	header {
		flex-direction: row-reverse;
		flex-wrap: nowrap;
		padding-left: 0;
		margin-left: 0;
		align-items: flex-start;
		width: 100%;
	}
}

.sticky .header {
	/* font-size: 1em; */
	animation: 0.25s shrinkheader 0s forwards;
}
.sticky h1 {
	/* font-size: 1em; */
	animation: 0.25s shrinkh1 0s forwards;
}
.sticky h5 {
	animation: 0.25s shrinkh5 0s forwards;
}
.not-sticky h1 {
	animation: 0.35s growh1 0s forwards;
}
.not-sticky h5 {
	animation: 0.35s growh5 0s forwards;
}
header h1 {
	font-family: Georgia, 'Times New Roman', Times, serif;
}
header h5 {
	font-style: italic;
}
header nav {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	align-self: center;
	margin-right: -15px;
	font-size: 16px;
	font-weight: 400;
	font-family: Arial, Helvetica, sans-serif;
}
header nav span {
	margin: 0 5px;
	padding: 5px 10px;
	cursor: pointer;
	position: relative;
	text-transform: uppercase;
	opacity: 0;
	animation: 1s fadein 0.5s forwards;
	align-self: flex-start;
}

header span:hover {
	color: yellow;
}

ul,
nav {
	list-style: none;
}


@keyframes fadein {
	100% {
		opacity: 1;
	}
}
@keyframes shrinkh1 {
	0% {
		font-size: 400%;
	}
	100% {
		font-size: 200%;
	}
}
@keyframes shrinkh5 {
	0% {
		font-size: 150%;
	}
	100% {
		font-size: 75%;
	}
}
@keyframes growh1 {
	0% {
		font-size: 200%;
	}
	100% {
		font-size: 400%;
	}
}
@keyframes growh5 {
	0% {
		font-size: 75%;
	}
	100% {
		font-size: 150%;
	}
}
