/* .header {
	background-color: '#000';
	opacity: 0.75;
	height: 5rem;
} */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: all 0.25s linear;
}

/* .scroll-padding {
	height: 130px;
	background-color: pink;
}

.no-padding {
	height: 0px;
	background-color: pink;
} */

header {
	/* position: fixed; */
	top: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 50px 50px;
	position: fixed;
	/* animation: 1s fadein 0.5s forwards;
	opacity: 0; */
	color: #fff;
	background-color: #000;
	z-index: 1000;
}


@keyframes fadein {
	100% {
		opacity: 1;
	}
}

/* @keyframes shrinkPadding {
	0% {
		padding: 50px 50px;
	}
	100% {
		padding: 10px 50px;
	}
} */

@keyframes shrinkh1 {
	0% {
		font-size: 400%;
	}
	100% {
		font-size: 200%;
	}
}
@keyframes shrinkh5 {
	0% {
		font-size: 150%;
	}
	100% {
		font-size: 75%;
	}
}
@keyframes growh1 {
	0% {
		font-size: 200%;
	}
	100% {
		font-size: 400%;
	}
}
@keyframes growh5 {
	0% {
		font-size: 75%;
	}
	100% {
		font-size: 150%;
	}
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
	padding: 10px;
	/* animation: 0.25s shrinkPadding 0s forwards; */
}

.sticky h1 {
	/* font-size: 1em; */
	animation: 0.25s shrinkh1 0s forwards;
}
.sticky h5 {
	animation: 0.25s shrinkh5 0s forwards;
}
.not-sticky h1 {
	animation: 0.35s growh1 0s forwards;
}
.not-sticky h5 {
	animation: 0.35s growh5 0s forwards;
}
header h1 {
	font-family: Georgia, 'Times New Roman', Times, serif;
}
header h5 {
	font-style: italic;
}
header nav {
	display: flex;
	align-items: flex-start;
	margin-right: -15px;
}
header nav span {
	margin: 0 5px;
	padding: 15px 10px;
	cursor: pointer;
	position: relative;
	text-transform: uppercase;
	opacity: 0;
	animation: 1s fadein 0.5s forwards;
	align-self: flex-start;
}

header span:hover {
	color: yellow;
}

ul,
nav {
	list-style: none;
}
