/* .header {
	background-color: '#000';
	opacity: 0.75;
	height: 5rem;
} */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: all 0.25s linear;
}

/* .scroll-padding {
	height: 130px;
	background-color: pink;
}

.no-padding {
	height: 0px;
	background-color: pink;
} */

header {
	/* position: fixed; */
	top: 0;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 10px 60px;
	position: fixed;
	/* animation: 1s fadein 0.5s forwards;
	opacity: 0; */
	color: #fff;
	background-color: #000;
	z-index: 1000;
}

/* @media all and (max-width: 1200px) {
	header span {
		display: none;
	}
} */

.hamburger {
	cursor: pointer;
	padding: 20px;
}

.hamburger > div {
	width: 35px;
	height: 5px;
	background-color: white;
	margin: 6px 0;
	/* margin-right: 0px; */
}

@media only screen and (min-width: 900px) {
	.hamburger {
		display: none;
	}
}

@media only screen and (max-width: 900px) {
	header {
		justify-content: flex-end;
		flex-direction: row-reverse;
	}
	.header nav {
		position: fixed;
		right: -145px;
		top: 0;
		bottom: 0;
		background-color: black;
		width: 250px;
		/* -webkit-transform: translateX(50vw);
		transform: translateX(100vw); */
		height: 100vh;
		flex-direction: column;
		box-sizing: content-box;
		/* justify-content: flex-start; */
		/* align-items: flex-start; */
		width: min-content;
	}
	.expanded {
		transform: translateX(-160px);
		/* margin-left: 160px; */
	}
}

/* @media only screen and (max-width: 1200px) {
	.header__icon {
		position: relative;
		display: block;
		float: left;
		width: 50px;
		height: 66px;
		cursor: pointer;
	}
}

@media only screen and (max-width: 1200px) {
	.header__icon:after {
		content: '';
		position: absolute;
		display: block;
		width: 1rem;
		height: 0;
		top: 16px;
		left: 15px;
		box-shadow: 0 10px 0 1px #fff, 0 16px 0 1px #fff, 0 22px 0 1px #fff;
	}
} */

/* @media all and (max-width: 1700px) {
	header nav {
		float: right;
	}
} */

@keyframes fadein {
	100% {
		opacity: 1;
	}
}

/* @keyframes shrinkPadding {
	0% {
		padding: 50px 50px;
	}
	100% {
		padding: 10px 50px;
	}
} */

/* @keyframes shrinkheader {
	0% {
		padding: 50px 50px;
	}
	100% {
		padding: 0;
	}
} */
@keyframes shrinkh1 {
	0% {
		font-size: 400%;
	}
	100% {
		font-size: 200%;
	}
}
@keyframes shrinkh5 {
	0% {
		font-size: 150%;
	}
	100% {
		font-size: 75%;
	}
}
@keyframes growh1 {
	0% {
		font-size: 200%;
	}
	100% {
		font-size: 400%;
	}
}
@keyframes growh5 {
	0% {
		font-size: 75%;
	}
	100% {
		font-size: 150%;
	}
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
	padding: 10px 60px;
	font-size: 16px;
	/* animation: 0.25s shrinkPadding 0s forwards; */
}

.sticky img {
	height: 50px;
	transition: height 0.25s linear;
}
@media only screen and (max-width: 900px) {
	img {
		height: 70px;
	}
}
@media only screen and (max-width: 700px) {
	/* header {
		flex-direction: column;
		padding-left: 0;
		margin-left: 0;
		align-items: flex-start;
		width: 100%;
	} */
}

@media only screen and (max-width: 700px) {
	header img {
		width: 80%;
	}

	header {
		flex-direction: row-reverse;
		flex-wrap: nowrap;
		padding-left: 0;
		margin-left: 0;
		align-items: flex-start;
		width: 100%;
	}
}

.sticky .header {
	/* font-size: 1em; */
	animation: 0.25s shrinkheader 0s forwards;
}
.sticky h1 {
	/* font-size: 1em; */
	animation: 0.25s shrinkh1 0s forwards;
}
.sticky h5 {
	animation: 0.25s shrinkh5 0s forwards;
}
.not-sticky h1 {
	animation: 0.35s growh1 0s forwards;
}
.not-sticky h5 {
	animation: 0.35s growh5 0s forwards;
}
header h1 {
	font-family: Georgia, 'Times New Roman', Times, serif;
}
header h5 {
	font-style: italic;
}
header nav {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	align-self: flex-start;
	margin-right: -15px;
	font-size: 16px;
	font-weight: 400;
	font-family: Arial, Helvetica, sans-serif;
}
header nav span {
	margin: 0 5px;
	padding: 15px 10px;
	cursor: pointer;
	position: relative;
	text-transform: uppercase;
	opacity: 0;
	animation: 1s fadein 0.5s forwards;
	align-self: flex-start;
}

header span:hover {
	color: yellow;
}

ul,
nav {
	list-style: none;
}
