.center-paragraph {
	text-align: left;
	/* width: 60%; */
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

@media only screen and (min-width: 1200px) {
	.center-paragraph {
		width: 1200px;
	}
}

.center-paragraph * {
    margin: 20px;
}

.center-paragraph > h2 {
    color: #af3434;
    text-align: left;
    font-size: 34px;
}

