/* 
@media only screen and (max-width: 1200px) {
	.expanded {
        transform: translateX(-160px);
	}
} */

/* html, body {
	overflow-x: hidden;
}

* {
	max-width: 100vw;
}

body {
	position: relative;
	/* overflow: hidden */
/* } */


/* disable horizontal scroll on page! */

html, body {
    max-width: 100%;
    overflow-x: hidden;
}